# Google Web Designer leftovers
Select Edge.html
Select Edge_groups_archive
gwd_*.js
gwd_*.css
gwd_*.json
googbase_min.js
gwdgooglead_min.js
gwdgooglead_style.css
gwdpagedeck_min.js
gwdpagedeck_style.css
gwdpage_min.js
gwdpage_style.css
gwd_webcomponents_v1_min.js
gwd_workspace.json

# OS / editor
.DS_Store
Thumbs.db
Desktop.ini
.env
.env.*
